body{
    padding:0px;
    margin: 0px;
}

ul{
    list-style: none;

}

.link1{
    text-decoration: none;


}

/* html,body{
    
 
}
.footer{
 
} */

 .link1:hover{
     text-decoration: underline;
 }

.nav-items-2:hover{
    transform: scale(1.15);
   
 
}