body{
    padding:0px;
    margin: 0px;
}


/* .footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
} */
.dropdown-menu{
    width: 20rem ;
   
    
}

.font-head
{
    font-family: 'DM Serif Display', serif;
}